.more-container {
  margin-top: 5rem;
  color: white;
  padding-bottom: 10rem;
}


.more-heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem;
}

.more-topic {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Roboto'
}

.more-language {
  font-size: 2rem;
  text-align: center;
}

.more-coursework {
  font-size: 2rem;
}