.more-container {
  margin-top: 5rem;
  color: white;
  padding-bottom: 10rem;
}


.more-heading {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem;
}

.more-topic {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.more-language {
  font-size: 1.5rem;
  text-align: center;
}

.more-coursework {
  font-size: 1.7rem;
  margin-left: 20%;
}