.projects-container {
  margin-top: 5rem;
  color: white;
}


.projects-heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem;
}

.projects-intro {
  margin-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.list-group-item {
  background-color: transparent;
}

.project-showcase {
  padding-bottom: 10rem;

}