.about-container {
  margin-top: 5rem;
}


.about-heading {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 4rem;
  margin: 2rem;
}

.about-intro {
  margin-top: 5rem;

}

.about-education {
  margin-top: 2rem;
}

.about-sub {
  font-size: 2rem;
}

.about-tech {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.list-group-horizontal {
  width: 100%;
}

.link-caption {
  text-decoration-style: none;
  color: black;
  font-size: 2rem;
}

.list-group-item {
  border: none
}

.about-icons {
  width: 100%;
  font-size: 10rem;
}

.about-link-icons {
  width: 100%;
}

.about-tech-container {
  margin-top: 2rem;
}