.about-container {
  margin-top: 5rem;
}


.about-heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 4rem;
  margin: 2rem;
}

.about-intro {
  margin-top: 5rem;

}

.about-education {
  margin-top: 2rem;
}

.about-sub {
  font-size: 2rem;
}

.about-tech {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Roboto'
}

.link-caption {
  text-decoration-style: none;
  color: black;
  font-size: 2rem;
}

.list-group-item {
  border: none
}

.about-icons {
  width: 100%;
  font-size: 10rem;

}

.about-tech-container {
  margin-top: 2rem;
}